<h1><%= t("titles.questions.new") %></h1>

<%= render "shared/form_errors", record: @question %>

<%= form_for @question, url: new_question_path do |f| %>
  <p>
    <%= f.label :title, t("form.question.title") %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description, t("form.question.description") %>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :category_id, t("form.question.category") %>
    <%= f.collection_select :category_id, Category.all, :id, :name, prompt: " -- Selecione uma categoria --" %>
  </p>
  <p class="submit">
    <%= f.submit %>
    <%= link_to t("actions.back"), root_path %>
  </p>
<% end %>