<%= render "details", question: @question %>
<%= render "answers", question: @question, answers: @answers %>

<% if logged_in? %>
  <%= render "answer_form", question: @question, answer: @answer %>
<% else %>
  <%= render "login_to_answer", question: @question %>
<% end %>

<% content_for :sidebar do %>
  <p>
    <%= link_to t("actions.remove"), remove_question_path(@question) %>
  </p>

  <%= render "stats", question: @question %>
  <%= render "shared/search" %>
<% end %>
