<p>
  <%= t("login.dont_have_an_account_html", url: signup_path) %>
</p>

<%= form_tag login_path do %>
  <p>
    <%= hidden_field_tag :return_to, params[:return_to] %>
    <%= label_tag :email, t("form.user.email") %>
    <%= email_field_tag :email %>
  </p>

  <p>
    <%= label_tag :password, t("form.user.password") %>
    <%= password_field_tag :password %>
  </p>

  <p class="submit">
    <%= submit_tag t("form.buttons.login") %>
    <%= link_to t("actions.back"), root_path %>
  </p>
<% end %>