<h1><%= t("titles.users.new") %></h1>
<p><%= t("signup.already_have_an_account_html", url: login_path) %></p>

<%= render "shared/form_errors", record: @user %>

<%= form_for @user, :url => signup_path do |f| %>
  <p>
    <%= f.label :name, t("form.user.name") %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :email, t("form.user.email") %>
    <%= f.email_field :email %>
  </p>

  <p>
    <%= f.label :password, t("form.user.password") %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation, t("form.user.password_confirmation") %>
    <%= f.password_field :password_confirmation %>
  </p>

  <p class="submit">
    <%= f.submit %>
    <%= link_to t("actions.back"), root_path %>
  </p>
<% end %>